.cntr{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.p-20{
    padding: 20px;
}
.p-10{
    padding: 10px;
}
.ptb-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.ptb-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.shadow{
    box-shadow: 4px 0px 11px 6px #eee;
}
.rad-6{
    border-radius: 6px;
}
.rad-8{
    border-radius: 8px;
}
.round{
    border-radius: 50%;
}